<div class= "navbar-elsa-brand">

   <div class="navbar-logo">
    <%= link_to image_tag('elephant.svg', alt: "Elsa logo"), root_path %>
   </div>

    <li class="nav-item-dropdown">
           <% if user_signed_in? %>
            <div class="dropdown">
              <img src='ELSA-v3.0/app/assets/images/profile.png' class="avatar"/>
              <div class="submenu" style="display: none; ">
            <ul class="root">
              <li >
               <%= %>
              </li>
              <li >
                <%= %>
              </li>
              <li>
               <%=  %>
              </li>
            </ul>
              </div>
           <% else %>
            <div class="button-navbar">
             <%= link_to "Sign In", new_user_session_path, class: "nav-link" %>
            </div>
           <% end %>
    </li>
</div>

