<% home = params[:controller] == 'pages' && params[:action] == 'home' %>
<div class= "navbar" style="background-color:<%= home ? 'transparent' : 'white'; %>">

    <%= link_to image_tag('elephant.svg', alt: "Elsa logo"), root_path %>


  <div class="item-group">
    <li class="nav-item-dropdown">
        <li class="item">
          <% if user_signed_in? %>
            <%= link_to "Sign Out", destroy_user_session_path, method: :delete, style: "color: white;", class: "nav-link" %>
          <% else %>
            <%= link_to "Sign In", new_user_session_path, style: "color: white;", class: "nav-link" %>
          <% end %>
        </li>

          <% if user_signed_in? %>
            <%= link_to "Profile", trips_path, style: "color: black;", class: "nav-link" %>

            <li class="item">
              <%= link_to "Bookings", trips_path, style: "color: white;", class: "nav-link" %>
            </li>
          <% end %>
          <% if user_signed_in? %>
            <li class="avatar">
                <%= image_tag "profile.png", class: 'av-img' %>
            </li>
          <% end %>
    </li>
  </div>
</div>


