<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand d-flex align-items-center" do %>
    <%= image_tag("elephant.svg", :class => "mr-3") %>
    <h1 class="navbar-header">Elsa</h1>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <%= image_tag "https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            <%= link_to "Profile", user_dashboard_path, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
      <li class="nav-item">
        <%= link_to "Sign In", new_user_session_path, class: "button-navbar" %>
      </li>
      <% end %>
    </ul>
  </div>
</div>

