<% home = params[:controller] == 'pages' && params[:action] == 'home' %>
<div class= "navbar" style="background-color:<%= home ? 'transparent' : 'white'; %>">

    <%= link_to image_tag('elephant.svg', alt: "Elsa logo"), root_path %>


  <div class="item-group">
    <li class="nav-item-dropdown">
      <li class="item">
          <%= link_to "Home", root_path, style: "color: black;", class: "nav-link" %>
        </li>
        <li class="item">
          <% if user_signed_in? %>
            <%= link_to "Sign Out", destroy_user_session_path, method: :delete, style: "color: black;", class: "nav-link" %>
          <% else %>
            <%= link_to "Sign In", new_user_session_path, style: "color: black;", class: "nav-link" %>
          <% end %>
        </li>

        <li class="item">
          <% if user_signed_in? %>
            <%= link_to "Profile", user_dashboard_path, style: "color: black;", class: "nav-link" %>
          <% end %>
          <li class="avatar">
            <% if user_signed_in? %>
            <%= image_tag "profile.png"%>
            <% end %>
          </li>
      </li>
    </li>
  </div>
</div>


