<div class="main-container">
  <div class="dashboard-left-side-container">
    <h1>Welcome to your dashboard!</h1>
    <div class="total-box">

      <div class="total-cashback-box" style="background-color: #a2d5f2">
       Total Cashback
       <br>
       £<%= @total_cashback %>
      <!-- <button type="button" class="btn btn-primary">Payment Method</button> -->
      </div>
    </div>


    <div class="table-container">
      <table>
       <tr class="table-headers">
         <th>Hostel Name</th>
         <th>Address</th>
         <th>Dates</th>
       </tr>
       <% counter = 0 %>
        <% current_user.bookings.each do |booking| %>
        <% counter += 1 %>
          <tr class=<%= counter.even? ? "even" : "odd" %>>
            <td>
              <%= Bed.find(booking.beds.first).hostel.name %>
            </td>
            <td>
              <%= Bed.find(booking.beds.first).hostel.address %>
            </td>
            <td>
              <%= booking.start_at.strftime("%b %d") %>
              <span>-</span>
              <%= booking.end_at.strftime("%b %d") %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
