<h1>Welcome to your dashboard!</h1>

<div class="main-container">

  <div class="dashboard-left-side-container">
    <div class="total-box">
      <div class="total-cashback-box" style="background-color: #a2d5f2">
      Total Cashback
       <br>
       £<%= @total_cashback %>
      </div>
    </div>

  <div class="my-bookings">
  <h2>My Bookings</h2>
    <div class="table-container">
      <table>
       <tr class="table-headers">
         <th>Hostel Name</th>
         <th>Address</th>
         <th>Dates</th>
         <th></th>
         <th></th>
       </tr>
       <% counter = 0 %>
        <% current_user.bookings.each do |booking| %>
        <% counter += 1 %>
          <tr class=<%= counter.even? ? "even" : "odd" %>>
            <td>
              <%= Bed.find(booking.beds.first).hostel.name %>
            </td>
            <td>
              <%= Bed.find(booking.beds.first).hostel.address %>
            </td>
            <td>
              <%= booking.start_at.strftime("%b %d") %>
              <span>-</span>
              <%= booking.end_at.strftime("%b %d") %>
            </td>
            <td class= "btn-review-hostel">
              <%= link_to 'Review Hostel',
                  new_hostel_review_path(Bed.find(booking.beds.first).hostel) %>
            </td>
            <td class= "btn-delete-booking">
              <%= link_to 'Cancel Booking',
                  booking_path(booking),
                  method: :delete,
                  data: { confirm: 'Are you sure you want to cancel this booking?'}
               %>
            </td>
          </tr>
        <% end %>
      </table>
  </div>
</div>
  </div>

  <div id="map-container-userdash">
    <div id="map" class="map-index" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>

</div>


