<h1>Hostels#edit</h1>

<br>
<br>

<h2 class="text-center">Modify your Hostel</h2>
<br>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div>
      <h2 class="text-center">Hostel Infos</h2>
        <br>
          <%= simple_form_for @hostel do |f| %>
          <%= f.input :name %>
          <%= f.input :address %>
          <%= f.input :city_name %>
          <!-- button below -->
          <%= f.button :submit, "Modify your Hostel", class: "btn btn-secondary"%>

        <br>
        <br>
        <br>
        <% end %>

         <%= link_to "Delete #{@hostel.name}", hostel_path(@hostel),
          method: :delete,
          data: { confirm: "Are you sure?" }, class: "btn btn-danger"%>
      <!-- Beds section -->
        <h3><strong>Beds</strong></h3>
          <% @beds.each do |bed| %>
          <%= bed.room_type %>
          <%= link_to "Edit", edit_bed_path(bed) %>

          <%= link_to "Remove", bed_path(bed), method: :delete %>
          <% end %>
        <br>
        <hr>
      </div>
    </div>
  </div>
</div>
