<% content_for :title, 'Elsa | Our Hostels' %>

<div>
  <h1 id="header1"><strong>We have curated <%= @hostels.length %> Hostels<strong></h1>
</div>

<div class="main-container">
  <div class="cards-trip">
    <% @hostels.each do |hostel| %>
      <div class="card-trip">
        <img src=<%= hostel.photo1 %>>
        <div class="card-product-infos">
          <h1><%= hostel.name %></h1>
          <!-- cashback begins here -->
          <div id="cashback-btn" class="btn">

            <% bed_price = 0 %>
            <% hostel.beds.each do |bed| %>
            <% if bed.room_type == params[:room_type] %>
              <% bed_price = (bed.price_cents / 100) %>
            <% end %>
            <% end %>

            <% if params[:checkin].presence && params[:checkout].presence && params[:room_type].presence && params[:room_type].presence %>
            <!-- spacing for readability -->
              <% cashback_amount = (((params[:checkout].to_date - params[:checkin].to_date)*bed_price)*0.05).round(2) %>
              <!-- presence dictates whether cashback logic will be displayed -->
              Cashback: <%= number_to_currency(cashback_amount, unit: "£") %>
              <% else %>
              Booking Dates Needed!
              <% end %>

          </div>
          <!-- cashback ends here -->
          <h2>Total Hostel Beds: <%= hostel.beds.count %></h2>
          <div class="btn-group bottom" role="group" aria-label="First group">
            <div class="btn-blue" id="button-show">
              <%= link_to "Show More", hostel_path(hostel) + "?checkin=#{params[:checkin]}&checkout=#{params[:checkout]}&room_type=#{params[:room_type]}&beds=#{params[:bed_number]}", class: "button-text" %>
            </div>
          <div>
            <% if params[:checkin].presence && params[:checkout].presence && params[:room_type].presence && params[:room_type].presence %>
              <%= simple_form_for Booking.new do |f| %>
              <%= f.hidden_field :hostel_id, :value => hostel.id %>
              <%= f.hidden_field :start_at, as: :string, value: params[:checkin] %>
              <%= f.hidden_field :end_at, as: :string, value: params[:checkout] %>
              <%= f.simple_fields_for :other do |a| %>
              <%= a.hidden_field :room_type, value: params[:room_type] %>
              <%= a.hidden_field :bed_number, value: params[:bed_number] %>
              <% end %>
            <%= f.submit "Book Now", class: "btn-blue", id: "button-book"%>
          <% else %>
            <% link_to hostel_path(hostel)%>
            <% end %>
            <% end %>

          </div>
          </div>
        </div>
      </div>
    <!-- card div ends at the following end -->
    <% end %>
  </div>

  <div id="map-container-index">
    <div id="map" class="map-index" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>

</div>



<script>
  getEle
</script>
