<ul>
  <% @bed_types.each do |bed_type| %>
    <li><%=  bed_type %></li>
  <% end %>
  <%= simple_form_for @booking do |f| %>
  <%= f.hidden_field :hostel_id, :value => params[:id] %>
  <%= f.simple_fields_for :other do |a| %>
    <%= a.input :room_type, collection: @bed_types %>
    <%= a.input :bed_number, collection: (1..10) %>
  <% end %>
  <%= f.submit  %>
  <% end %>
</ul>
