<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TODO</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %> Uncomment if you import CSS in app/javascript/packs/application.js <!-- this will handle javascript based custom stylesheets, specifically Flatpickr  -->
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- META TAGS -->
    <title>Elsa | Cashback Rewards for Social Explorers</title>
    <meta name="Elsa" content="Cashback Rewards for Social Explorers">
     <meta property="og:title" content="Elsa | Cashback Rewards for Social Explorers">
    <!-- <meta property="og:image" content="facebook-card.jpg"> -->
    <!-- Need to add an image -->
    <meta property="og:description" content="Elsa lets you book hostels and local experiences for instant cashback">
    <meta property="og:site_name" content="Elsa"/>
    <meta name="twitter:card" content="summary_large_image">
    <!-- need to add an image!! -->
    <!-- <meta name="twitter:site" content="@Lewagonparis"> -->
    <meta name="twitter:title" content="Your favourit hostel loyalty program!">
    <meta name="twitter:description" content="Elsa lets you book hostels and local experiences for instant cashback">
    <meta name="twitter:creator" content="@Elsa">
    <!--<meta name="twitter:image:src" content="http://twitter-card.jpg">-->

  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

     <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
